/*--------顶部Nav样式-------*/
#nav-header {
	background-color:#3CA251;
}

/*----底部Nav的样式----*/
#nav-bottom ul{
	background-color:#F3F3F3;
	border-top: 1px solid #AAAAAA;
}

.am-navbar a {
	color: #c4c4c4;
}

.am-navbar a:hover {
	color: #3CA251;
}

.g-selected span{
	color: #3CA251;
}
