.haunle {
	position: relative;
	top: -12px;
	left: -14px;
}

/*--------*/
#news-sort{
	margin-top:-10px;
	margin-bottom: 10px;
	/*margin-left: -12px;*/
}

#news-sort a {
	color: black;
}

#news-sort a:hover{
	-moz-transform: scale(1.08);
	-ms-transform: scale(1.08);
	-o-transform: scale(1.08);
	-webkit-transform: scale(1.08);
	color: #3CA251;
	opacity: 1;
	transform: scale(1.08);
	font-size:1.6rem;
}

#news-sort a.g-active {
	-moz-transform: scale(1.08);
	-ms-transform: scale(1.08);
	-o-transform: scale(1.08);
	-webkit-transform: scale(1.08);
	color: #3CA251;
	opacity: 1;
	transform: scale(1.08);
	font-size:1.6rem;
}

#news-sort i{
	position:absolute;
	right: 12px;
}

#slider-pic ol{
	text-align: right;
	font-size: 0px;
	position:absolute;
	bottom: -25px;
}

@media screen and (min-width: 1201px)
{
	#slider-pic .am-slides img{
		height: 800px;
	}	
}

@media screen and (max-width: 1200px)
{
	#slider-pic .am-slides img{
		height: 400px;
	}	
}

@media screen and (max-width: 500px)
{
	#slider-pic .am-slides img{
		height: 200px;
	}
}


#pic-title {
	width:79%;
	position:absolute;
	font-size:15px;
	bottom: -30px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.3rem;
	max-height: 1.5rem;
}
#pic-title i{
	margin:0 5px;
}

/*
 * news-content样式
 */
.news-content img{
	width: 100%;
	padding:0 8px;
}
.news-content p{
	text-indent:2em
}
