/*
-----------顶部Nav样式-----------
#nav-header{
	background-color:#5eb95e;
}
*/
/*------table的样式-----*/

.am-table tbody{
	font-size: 14px;
}

.am-table tbody tr:first-child {
	font-size: 11px;
	font-weight: 700;
}

.g-stick-head{
	position:fixed;
	top:50px;
}

.g-stick-footer{
	position: fixed;
	bottom:50px;
}

.am-table tbody tr:first-child td {
	background-color: #ABABAB;
	line-height: 1.6;
}

.am-table>tbody>tr>td {
	line-height: 3;
}
/*
-------底部Nav样式---------
#nav-bottom ul{
	background-color:#F3F3F3;
	border-top: 1px solid #AAAAAA;
}

.am-navbar ul li a {
	color: #c4c4c4;
}

.am-navbar ul li a:hover {
	color: #1B961B;
}
*/
/*-------模态窗口样式-----*/
.g-align-left {
	text-align: left;
} 

.g-align-center {
	text-align: center;
}

.g-padding-left {
	padding-left:1rem;
}

.g-btn-resize {
	margin: 10px;
}
